rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // プロフィール画像へのアクセスルール
    match /profile-icons/{userId}/{allPaths=**} {
      // 誰でも読み取りは可能にする
      allow read;
      
      // 書き込みは、認証済みで、かつ自分のユーザーIDのパスにのみ許可する
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}